__pycache__/
*.py[cod]
*.egg-info/
.venv/
.env
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/
.ipynb_checkpoints/
/models/*
!/models/README.md
/reports/*
!/reports/.gitkeep
/datasets/*
!/datasets/README.md
/dist/
/.backups/
.DS_Store
Thumbs.db
Desktop.ini
